<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAT-API</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/gif" href="/static/favicon2.gif"> 
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome Cat Api</h1>
        <div class="center-box">
            <button onclick="window.location.href='/create-api'">Create API</button>
        </div>
    </div>
</body>
</html>